Duplicate columns rows that has similler entries. same goes for columns

In [37]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [38]:
df={"name":["a","b","c","d","e","a"],"eng":[8,7,3,6,3,8],"bangla":[3,5,8,2,4,3]}

In [39]:
df=pd.DataFrame(df)

In [40]:
df["duplicate"]=df.duplicated()

In [49]:
print(df.duplicated().sum())

0

In [54]:
df.drop_duplicates(subset=["name", "eng", "bangla"], keep="first", inplace=True)

In [55]:
df

  name  eng  bangla  duplicate
0    a    8       3      False
1    b    7       5      False
2    c    3       8      False
3    d    6       2      False
4    e    3       4      False