Label Encoder can be applied in categorical data. there are two types of categorical data: nominal and ordinal. Nominal is independent of other data but ordinal does have connection. To handle ordinal data we apply ordinal encoder

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
dataset=pd.read_csv("car_price_dataset.csv")

In [3]:
dataset.isnull().sum()
# no missing value

Brand           0
Model           0
Year            0
Engine_Size     0
Fuel_Type       0
Transmission    0
Mileage         0
Doors           0
Owner_Count     0
Price           0
dtype: int64

Lets apply LabelEncoder on this

In [4]:
dataset["Transmission"].unique()

array(['Manual', 'Automatic', 'Semi-Automatic'], dtype=object)

In [5]:
dataset["Transmission"].fillna(dataset["Transmission"].mode()[0],inplace=True)

In [6]:
en_cod=[['Manual', 'Automatic', 'Semi-Automatic']]

In [10]:
from sklearn.preprocessing import OrdinalEncoder
oen=OrdinalEncoder(categories=en_cod)
dataset["Transmission"]=oen.fit_transform(dataset[["Transmission"]])

In [11]:
dataset.head()

,Brand,Model,Year,Engine_Size,Fuel_Type,Transmission,Mileage,Doors,Owner_Count,Price
0,Kia,Rio,2020,4.2,Diesel,0.0,289944,3,5,8501
1,Chevrolet,Malibu,2012,2.0,Hybrid,1.0,5356,2,3,12092
2,Mercedes,GLA,2020,4.2,Diesel,1.0,231440,4,2,11171
3,Audi,Q5,2023,2.0,Electric,0.0,160971,2,1,11780
4,Volkswagen,Golf,2003,2.6,Hybrid,2.0,286618,3,3,2867